%h1 RawDataSets#new
= form_for(@raw_data_set) do |f|
  = f.label :mass_spec_type, 'Mass Spec Type'
  = f.text_field :mass_spec_type
  %br
  = f.label :organism_name, "Organism Name"
  = f.text_field :organism_name
  %br
  = f.label :spectra_type, "Spectra Type"
  = f.text_field :spectra_type
  %br
  = f.label :solvents, "Solvents Used"
  = f.text_field :solvents
  %br


